<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Address Books</h1>
<a href="/addresses/new">Add new Address Book</a>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> ID </th>
        <th> Size </th>
        <th> Link </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="addressBook : ${addressBooks}">
        <td><span th:text="${addressBook.name}"> </span></td>
        <td><span th:text="${addressBook.id}"></span></td>
        <td><span th:text="${addressBook.buddies.size()}"> </span></td>
        <td><a th:href="'/addresses/' + ${addressBook.id}" th:text="'/addresses/' + ${addressBook.id}">  </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>