<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/buddyinfo.js}"></script>
    <script th:inline="javascript">
        let addressId = /*[[${addressId}]]*/;
    </script>
</head>
<body>
    <div th:fragment="new-buddy-form">
        <h1>New Buddy Info</h1>

        <form id="new-buddy-form" th:object="${buddyInfo}" method="post">
            <p>Name: <input type="text" th:field="*{name}"></p>
            <p>Number: <input type="text" th:field="*{number}"></p>
            <input id="new-address-book" type="submit" value="Submit" />
        </form>
    </div>

</body>
</html>